/* src/components/Shared/Footer.css */
.app-footer {
    background-color: rgba(7, 2, 2, 0.822);
    color: var(--primary-color);
    padding: 60px 40px 20px 40px;
    margin-top: 0px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto 40px;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-col {
    flex: 1 1 200px; /* لضمان الاستجابة */
    min-width: 150px;
}

.footer-col h3 {
    font-size: 1.5rem;
    color: var(--primary-blue);
    margin-bottom: 20px;
}

.footer-col h4 {
    font-size: 1.1rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-col p {
    font-size: 0.9rem;
    color: #cccccc;
    margin-bottom: 10px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}
.footer-col ul li {
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #cccccc;
    cursor: pointer;
}
.footer-col ul li:hover {
    color: var(--primary-blue);
}

.contact-info p {
    display: flex;
    align-items: center;
}
.contact-info .svg-inline--fa {
    margin-right: 10px;
    color: var(--primary-blue);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #333;
}

.social-icons .svg-inline--fa {
    font-size: 1.2rem;
    margin-left: 15px;
    color: #cccccc;
    cursor: pointer;
    transition: color 0.3s;
}
.social-icons .svg-inline--fa:hover {
    color: var(--primary-color);
}

/* Media Queries */
@media (max-width: 768px) {
    .footer-container {
        justify-content: flex-start;
        gap: 20px;
    }
    .footer-col {
        flex-basis: 45%;
    }
    .footer-about {
        flex-basis: 100%;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
    .social-icons {
        margin-top: 15px;
    }
}